RECOMENDATION SYSTEM

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv(r"C:\Users\Harshini\Downloads\Movie.csv")
data

      userId             movie  rating
0          3  Toy Story (1995)     4.0
1          6  Toy Story (1995)     5.0
2          8  Toy Story (1995)     4.0
3         10  Toy Story (1995)     4.0
4         11  Toy Story (1995)     4.5
...      ...               ...     ...
8987    7087  GoldenEye (1995)     3.0
8988    7088  GoldenEye (1995)     1.0
8989    7105  GoldenEye (1995)     2.0
8990    7113  GoldenEye (1995)     3.0
8991    7117  GoldenEye (1995)     3.0

[8992 rows x 3 columns]

In [4]:
movies_df = pd.read_csv(r"C:\Users\Harshini\Downloads\Movie.csv")

In [5]:
movies_df.shape

(8992, 3)

In [6]:
movies_df.head()

   userId             movie  rating
0       3  Toy Story (1995)     4.0
1       6  Toy Story (1995)     5.0
2       8  Toy Story (1995)     4.0
3      10  Toy Story (1995)     4.0
4      11  Toy Story (1995)     4.5

In [7]:
movies_df[movies_df['userId']==6]

      userId                    movie  rating
1          6         Toy Story (1995)     5.0
3725       6  Grumpier Old Men (1995)     3.0
6464       6           Sabrina (1995)     5.0

In [8]:
movies_df[movies_df['userId']==10]

   userId             movie  rating
3      10  Toy Story (1995)     4.0

In [11]:
movies_df.sample(5)

      userId                    movie  rating
5588    2206              Heat (1995)     4.0
3984    2886  Grumpier Old Men (1995)     4.0
7486     235         GoldenEye (1995)     4.0
5906    3887              Heat (1995)     3.0
8180    3318         GoldenEye (1995)     3.0

In [10]:
movies_df[movies_df['userId']==3398]

      userId             movie  rating
1250    3398  Toy Story (1995)     4.0
5805    3398       Heat (1995)     5.0

In [16]:
#no of unique users in the dataset
len(movies_df['userId'].unique())

4081

In [17]:
len(movies_df['movie'].unique())

10

In [19]:
movies_df['movie'].unique()

array(['Toy Story (1995)', 'Jumanji (1995)', 'Grumpier Old Men (1995)',
       'Waiting to Exhale (1995)', 'Father of the Bride Part II (1995)',
       'Heat (1995)', 'Sabrina (1995)', 'Tom and Huck (1995)',
       'Sudden Death (1995)', 'GoldenEye (1995)'], dtype=object)

In [ ]:
user_movies_df = movies_df.pivot(index='user Id',
                                 columns='movie',
                                 values='rating').reset_index(drop=True